body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}


/*** Color values */

h1,
h2,
h3 {
  color: #e9ab17; /* gold color for headings */
}

.gold-text {
  color: #e9ab17; /* gold */
}

.gold {
  background-color: #e9ab17;
}

p,
span,
em {
  color: #d1d0ce; /* muted white for text */
}

.white-text {
  font-weight: bold;
  color: #d1d0ce; /* white */
}

a {
  color: #1199c3; /* link blue */
  text-decoration: none;
  margin-top: 10px;
}


/*** Font Sizes */

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px 5%;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
  padding: 10px 10%;
}

p {
  font-size: 14px;
  line-height: 21px;
}


/*** Global */

span {
  padding: 5px;
}

ul {
  list-style-type: none;
}

.clear-fix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}


/*** Header specific */

#header {
  background: linear-gradient(dimgray, black); /* simple dark gradient */
}

.biopic {
  float: left;
  margin-right: 2em;
  padding: 0;
  width: 200px;
  display: none;
  border: solid 4px;
  border-radius: 50%; /* round image */
}

.welcome-message {
  font-style: italic;
  font-size: 1.2em;
  color: #d1d0ce; /* white text */
  line-height: 2.5em;
}

#skills {
  font-size: 1.5em;  /* make listed skills larger */
  padding: 1em;
}


/*** Body Specific */

.date-text,
.location-text {
  font-style: italic;
  font-size: 14px;
  margin: 0.5em 0; /* make some space */
  color: #999;
  line-height: 16px;
}

.location-text {
  float: right;
}

.work-entry,
.education-entry {
  padding: 0 15% 2.2em; /* narrow entries for easier reading */
}

#workExperience,
#projects,
#education {
  padding: 1.5em 0 4em; /* make some space */
}


/*** Work */

#workExperience {
  background: url(../images/tower.png) center top #0020c2; /* semi-transparent background image with blue */
  background-size: cover;
}

.bullet {
  list-style: disc;
  font-size: 14px;
  line-height: 21px;
  margin: 1em 0 0 5em;
  color: #d1d0ce;
}


/*** Projects */

#projects {
  background: url(../images/pattern.png) #2b1b17; /* semi-transparent background image with grey */
}

.project-entry {
  max-width: 250px; /* constrains project thumbnail size */
  padding-right: 60px; /* space between projects */
  display: inline-block; /* view projects side by side */
  vertical-align: top; /* adjust for differing heights */
}

.project-entry:first-of-type {
  padding-left: 15%; /* keep content aligned with above & below */
}

.project-entry img {
  padding: 0;
  width: 100%; /* fit image to conatiner */
}

.project-entry p {
  text-align: center;
  margin-top: -1em; /* need for negative margin not understood */
}


/*** Education */

#education {
  background: url(../images/UMW.png) center #461b7e; /* semi-transparent background image with purple */
  background-size: cover;
}


/*** Map */

#map {
  display: block;
  height: 100%;
  margin: 0 15%; /* keep content aligned with above & below */
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/*** Footer */

#lets-connect h2{
  text-align: center;
  color: #fff;
}


/*** Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
